body{
    background: rgb(234,209,251);
    background: linear-gradient(90deg, rgba(234,209,251,1) 0%, rgba(255,239,220,1) 50%, rgba(252,206,141,1) 100%);
}
h1{
    font-size : 4rem;
    color : white;
    text-align: center;
    text-shadow: 3px 3px 15px pink;
    margin: 1rem auto;
}

nav{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

button{
    border-radius: 5px;
    border : solid 1px #ca89f6;
    color :#8841b8;
    background-color: white;
    padding: 0.8rem;
    font-size: 1.3rem;
    width: 23%;
    text-transform: uppercase;

}

.btn_remove{
    width: 100%;
    background-color: #8841b8;
    color : white;
    font-size: 1rem;
    margin-top: 1rem;
}

.confetti-canvas {
    position: fixed; 
    z-index: 999; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    pointer-events: none;
  }

.container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin : 1rem auto;
   
}

.col{
    width : 23%;
    
}

.col__item{
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border: solid 1px #ca89f6;
}

h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color : #8841b8;;
}


.bi::before{
    margin-right: 0.5rem;
}

.checked{
    color: rgb(129, 129, 129);
    text-decoration:line-through
}